@import "tailwindcss";

body {
  margin: 0;
}

.planner-flow {
  --xy-edge-stroke-selected: var(--color-sky-500);
  --xy-controls-button-border-color: var(--color-slate-700);
  --xy-controls-button-background-color: var(--color-slate-800);
  --xy-controls-button-background-color-hover: var(--color-slate-700);
  --xy-controls-button-color: var(--color-slate-400);
  --xy-controls-button-color-hover: var(--color-slate-100);
}

.react-flow .react-flow__attribution {
  background: var(--color-slate-800);
}

.react-flow .react-flow__attribution a {
  color: var(--color-slate-400);
}

.react-flow__node.selected {
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px var(--color-sky-500);
}

.react-flow__node .react-flow__handle {
  height: 1rem;
  width: 1rem;
  position: unset;
  transform: none;
}

.react-flow__node .pressure-handle-red .react-flow__handle[data-handleid="PressureHandleId"] {
  --xy-handle-background-color: var(--color-red-700);
}

.react-flow__node .pressure-handle-green .react-flow__handle[data-handleid="PressureHandleId"] {
  --xy-handle-background-color: var(--color-green-700);
}

.react-flow__node .pressure-handle-yellow .react-flow__handle[data-handleid="PressureHandleId"] {
  --xy-handle-background-color: var(--color-yellow-700);
}

.react-flow__node .react-flow__handle[data-handleid="AwesomeSinkHandle"] {
  --xy-handle-background-color: var(--color-green-700);
}
