@import "tailwindcss";

body {
  margin: 0;
}

.planner-flow {
  --xy-edge-stroke-selected: var(--color-sky-500);
  --xy-controls-button-border-color: var(--color-slate-700);
  --xy-controls-button-background-color: var(--color-slate-800);
  --xy-controls-button-background-color-hover: var(--color-slate-700);
  --xy-controls-button-color: var(--color-slate-400);
  --xy-controls-button-color-hover: var(--color-slate-100);
}

.react-flow .react-flow__attribution {
  background: var(--color-slate-800);
}

.react-flow .react-flow__attribution a {
  color: var(--color-slate-400);
}

.react-flow__node-resource .react-flow__handle,
.react-flow__node-recipe .react-flow__handle {
  height: 1rem;
  width: 1rem;
  position: unset;
  transform: none;
}
